global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        #log loghost    local0 info
        maxconn 4096
        #chroot /usr/share/haproxy
        user haproxy
        group haproxy
        daemon
        #debug
        #quiet
 
defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        maxconn 2000
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000

##############################################################
#
#     master                                    slave
# +-------------+    192.168.1.200:5000    +-------------+
# |             |                 :8080    |             |
# |  HA-Proxy1  +--------------------------+  HA-Proxy2  |
# |             |         keepalived       |             |
# +--+-----+----+                          +--+------+---+
#    |     |                                  |      |
#    |     |                                  |      |
#    |     |  +-------------------------------+      |
#    |     |  |                                      |
#    |     +----------------------------------+      |
#    |        |                               |      |
#    |        |                               |      |
# +--v--------v-+                          +--v------v---+
# |             |                          |             |
# |    web01    |                          |    web02    |
# |             |                          |             |
# +-------------+                          +-------------+
# 192.168.1.167:80                         192.168.1.168:80
#
#
###################################################################

listen ha-proxy 0.0.0.0:5000
        mode http
        stats enable
        stats uri /stats
        stats auth admin:admin
        stats refresh 30s
        stats show-node
        server web01 192.168.1.167:5000 check
        server web02 192.168.1.168:5000 check

listen lamp-servers 192.168.1.200:8080
        mode http
        balance roundrobin
        option httpclose
        option forwardfor
        cookie SERVERNAME insert indirect nocache
        server web01 192.168.1.167:80 cookie A check          # active node
        server web02 192.168.1.168:80 cookie B check backup   # passive node
